.navbar {
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;

  .wrapper {
    padding: 20px;
    padding-top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search {
      display: flex;
      align-items: center;
      border: 0.5px solid lightgray;
      padding: 3px;
      border: none;

      input {
        border: none;
        outline: none;
        background: transparent;
        color: gray;

        &::placeholder {
          font-size: 14px;
        }
      }
      input[type="text"] {
        width: 100px;
        border-bottom: 1px solid #999;
        box-sizing: border-box;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
      }

      input[type="text"]:focus {
        width: 100%;
      }
    }

    .items {
      display: flex;
      align-items: center;
      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;

        .icon {
          font-size: 20px;
        }
        .themeChange {
          cursor: pointer;
        }

        .avatar {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          padding-top: 0px;
          margin-top: 0;
          background-color: rgba(221, 231, 221, 0.8);
          padding-bottom: 0px;
        }

        .counter {
          width: 15px;
          height: 15px;
          background-color: red;
          color: #fff;
          font-size: 10px;
          font-weight: bold;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
  }
}
