.app.dark {
  background-color: #111;
  color: rgb(156, 156, 156);
  .chartGrid {
    stroke: rgba(288, 288, 288, 0.219);
  }
  .table {
    background-color: #111;
    .tableCell {
      color: gray;
    }
  }
  .navbar {
    color: #999;
    border-color: rgba(51, 51, 51, 0.416);
    .search {
      input::placeholder {
        color: gray;
        opacity: 1;
      }
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;

    .nav-side-menu {
      background-color: transparent;
    }

    .brand {
      color: gray;
    }

    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
          color: #fff;
        }

        .icon {
          color: #999;
        }
      }
    }
  }

  .datatable {
    .datagrid {
      color: gray;
      border: none;
      .viewButton,
      .deleteButton,
      .cellWithStatus {
        color: gray;
        border: none;
        &:hover {
          color: #999;
        }
      }
    }
  }

  input {
    background-color: transparent;
    &::placeholder {
      color: gray;
      opacity: 1;
    }
  }
}
