.right {
  flex: 3;
  .commonForm {
    .formInputs {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-around;

      .formInput {
        width: 40%;
      }

      .submitInput {
        width: 100%;
      }
    }
    input {
      color: gray;
      width: 100%;
    }
    .textInput{
      border: none;
      border-bottom: 1px solid gray;
    }
    .fileUpload {
      margin-top: 10px;
      label {
        max-width: 85px;
        margin-right: 25px;
      }
    }
    .uploadIcon {
      cursor: pointer;
    }

    .checkbox-input {
      label {
        display: inline-block;
      }
      input {
        width: 30px;
        margin-left: 10px;
        color: gray;
      }
    }
    .radio-input {
      label {
        display: inline-block;
      }
    }
    input.radio-btn {
      width: 30px;
    }
    .textArea {
      border: navajowhite;
      border-bottom: 1px solid gray;
      color: gray;
    }
    .submitBtn {
      width: 150px;
      height: 50px;
      padding: 10px;
      border: none;
      background-color: teal;
      color: white;
      font-weight: bold;
      cursor: pointer;
      margin-top: 10px;
    }
  }
}
